<div class="jumbotron">
    <h1>InocuReports</h1>
    <p class="lead">Plataforma para recopilar información de enfermedades y las inyecciones experimentales propuestas para la atención de COVID</p>
    <p><a href="~/App/Paso1" class="btn btn-primary btn-lg">Registrar efectos adversos &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Función</h2>
        <p>Varias asociaciones internacionales de abogados, médicos y científicos por su preocupación ante el manejo inadecuado de emergencias y la violación de derechos humanos, han solicitado que se desarrolle una plataforma que permita recopilar información de enfermedades y las inyecciones experimentales propuestas para la atención de COVID</p>
        
    </div>
    <div class="col-md-4">
        <h2>Sobre la App</h2>
        <p>Debido a que el sistema de la OMS, EuroVigilance y el VAERS tienen procesos complicados para que los usuarios hagan el reporte y el procesamiento no permite identificar algunos factores que podrían prevenir el daño que causan vacunas o inyecciones experimentales.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Repercuciones</h2>
        <p>Un ejemplo es el retiro de más de un millón de dosis de un producto experimental en Japón, el cuál ocasionó daños a los ciudadanos por encontrarse contaminados; y los nuevos datos liberados que indica que las inyecciones experimentales tiene más de 1200 de efectos adversos.</p>
        
    </div>
</div>
